<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>AngularJS Demo</title>
    <meta charset='utf-8'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src='js/app.js'></script>
  </head>
  <body>
    <div ng-controller='DemoCtrl'>
      <form ng-submit='demoSubmit()'>
        <label>Alert Demonstration</label>
        <input type='text' ng-model='demoModel.textField'>
        <button type='submit'>Submit</button>
      </form>
      
      <br>
      
      <div ng-controller='InnerCtrl'>
        <label>Real Time Demonstration</label>
        <form>
          <input type='text' ng-model='innerModel.textField'>
        </form>
        <p>{{innerModel.textField}}</p>
      </div>
    </div>
  </body>
</html>